body{
    font-family: 'Poppins', sans-serif;
}
.cover{
    filter: brightness(45%);
}
.carousel-caption{
    padding-bottom: 10%;
}
.carousel-caption-paragraph{
    font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #F4F4F4;
}
#button1{
    padding-left: 35px;
    padding-right: 35px;
}
.button-2{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (max-width:768px) {
    .img-extend img {
        width: 200%;
    }
}
@media screen and (max-width:990px){
    .companies{
        display: none;

    }
}
@media screen and (max-width:1200px){
    .footer{
        width: 100%;

    }
}